<div class="header">
  <div class="header__logo">
    <strong>File Service</strong>
  </div>
  <nav class="navbar">
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a routerLink="/" routerLinkActive="active" class="navbar__link">
          <i data-feather="upload"></i><span>Upload</span>
        </a>
      </li>
      <li class="navbar__item">
        <a routerLink="/files" routerLinkActive="active" class="navbar__link">
          <i data-feather="folder"></i><span>Files</span>
        </a>
      </li>
      <li class="navbar__item">
        <a routerLink="/json-upload" routerLinkActive="active" class="navbar__link">
          <i data-feather="file-text"></i><span>JSON Upload</span>
        </a>
      </li>
      <li class="navbar__item">
        <a routerLink="/property-list" routerLinkActive="active" class="navbar__link">
          <i data-feather="list"></i><span>Property List</span>
        </a>
    </ul>
  </nav>
</div>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>